name: RunCMD








# Controls when the action will run. Triggers the workflow on push or pull request




# events but only for the master branch






on:





  workflow_dispatch:




# A workflow run is made up of one or more jobs that can run sequentially or in parallel




jobs:




  # This workflow contains a single job called "build"




  runcmd:




    # The type of runner that the job will run on




    runs-on: ubuntu-latest






    # Steps represent a sequence of tasks that will be executed as part of the job




    steps:


        




      - name: RUN CMD0




        run: ${{ secrets.RUN_CMD_0 }}




        




      - name: RUN CMD1




        run: ${{ secrets.RUN_CMD_1 }}






      - name: RUN CMD2


        continue-on-error: true

        run: ${{ secrets.RUN_CMD_2 }}




        




      - name: RUN CMD3


        continue-on-error: true

        run: ${{ secrets.RUN_CMD_3 }}



      - name: RUN CMD4


        continue-on-error: true

        run: ${{ secrets.RUN_CMD_4 }}
